@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-style: italic;
  font-family: "Prompt", sans-serif;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 700;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.title:active {
  -webkit-text-stroke: 0.2rem rgb(220, 139, 212);
}
.line {
  height: 0.2rem;
  background-color: rgb(255, 255, 255);
  margin: 1rem;
}
.wrapper {
  width: 80%;
}
.title {
  color: white;
  margin: 2rem;
  text-align: center;
}
.accordion {
  user-select: none;
}
.accordionimg {
  width: 40%;
}
.accordionelement {
  width: 100%;
}

.memshapka {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.accordiontitle:active {
  -webkit-text-stroke: 1px rgb(220, 139, 212);
}
.membutton {
  display: flex;
  display: none;
  font-size: 2rem;
  background: none;
  width: 2rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.membutton:active {
  -webkit-text-stroke: 0.15rem rgb(220, 139, 212);
}
.membot {
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 0;
  transition: height 0.5s linear;
}
.accordionimg:active {
  outline: 0.4rem solid rgb(220, 139, 212);
}

.memcheckbox {
  appearance: none;
  display: none;
}

.memcheckbox:checked + .memshapka > .membutton {
  transform: rotate(45deg);
}

.memcheckbox:checked ~ .memshapka {
  color: rgb(45, 45, 83);
}

.memcheckbox:checked ~ .membot {
  height: 42.8rem;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(45, 45, 83);
  animation: copyright 3s infinite;
}

@keyframes copyright {
  0% {
    color: rgb(45, 45, 83);
  }

  100% {
    color: rgb(99, 99, 205);
  }
}
@media not all and (hover: none) {
  .accordion:hover .membutton {
    display: block;
  }
  .accordionelement:hover .membutton {
    transform: rotate(45deg);
  }
  .accordionelement:hover > .membot {
    height: 42.8rem;
  }
  .accordion:hover .memshapka {
    color: rgb(45, 45, 83);
  }
}

/*tabletversion*/

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 42.8rem;
  }
  .memcheckbox:checked ~ .membot {
    height: 28.5rem;
  }
  html {
    font-size: 1rem;
  }
}

/*mobileversion*/
@media screen and (max-width: 42.8rem) {
  .wrapper {
    width: 21.4rem;
  }
  .memcheckbox:checked ~ .membot {
    height: 14.2rem;
  }
  html {
    font-size: 0.7rem;
  }
}
